<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="screen">
    <h1>Inscription</h1>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>

    <form action="/register" method="POST">
        <div class="box">
            <label for="username">Pseudo</label>
            <div>
                <ion-icon name="mail-outline"></ion-icon>
                <input type="text" name="username" placeholder="············"/></div>
        </div>
        <div class="box">
            <label for="password">Password</label>
            <div>
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input class="pas" type="password" name="password" placeholder="············"/>
                <ion-icon class="show-hide" name="eye-outline"></ion-icon>
            </div>
        </div>
        <button type="submit" class="login">S'inscrire</button>
        <div class="footer">
            <a href="/login">Déjà un compte ?</a>
        </div>
    </form>
</div>
</body>
</html>
